body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-color:#09192e;
    background-size: cover;
    background-position: center top;
    
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 350px;
  }
/* meu código */

.historico{
  width: 60%;
  margin: 10px auto;
}
.historico>p{
  color: #ffffff;
  margin: 5px 10px;
  display: inline-block;
}
#btn-verificar{
  line-height: 1.6em;
  padding: 2px;
  color: #ffffff;
  background-color: #2573d5;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 15px;
  width:100px;
  border: 2px solid #000000;
}

#btn-verificar:hover{
  background-color: #4896ff;
  cursor: pointer;
}